.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0 32px 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  flex-shrink: 0;
}

/* .specs {
  max-width: 650px;
  width: 100%;
  margin: 0;
  padding: 0 32px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
.specs > li:not(:last-child) {
  border-right: 1px solid var(--theme-separator);
}
.specs > li {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}
.specs > li:first-child {
  padding-left: 0;
}
.specs > li:last-child {
  padding-right: 0;
}
.specs > li > span.specs-value {
  font-size: 1.5rem;
}
.specs > li > span.specs-label {
  font-size: 1rem;
  padding-top: 8px;
}

@media(min-width: 576px) {
  .specs > li {
    padding: 0 32px;
  }
  .specs > li > span.specs-value {
    font-size: 2.5rem;
  }
} */
@media(min-width: 992px) {
  .preview {
    flex: 4;
    border-right: 1px solid var(--theme-separator);
  }
}

.button-container {
  display: flex;
}

.button {
  display: flex;
  margin-right: 15px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 25px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  /* margin: 0; */
  /* min-height: 60px; */
  /* min-width: 0; */
  outline: none;
  padding: 4px 6px;
  /* text-align: center; */
  text-decoration: none;
  transition: all .25s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;

}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}